# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Temporary files
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

# Logs
*.log
log.txt
npm-debug.log*

# IDE
/.idea
/.vscode

# Build output
/www

# Pixelmator files
*.pxd
