<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"><ion-icon name="close"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <p style="text-align: center;"><img src="/assets/icon/logo.png" width="150" alt="logo" /></p><br/>
    <h1>Klipped.app is a minimalist plain text scratchpad designed with privacy in mind.</h1>
    <p>All data is stored in local browser storage (local to your device), and has no adverts, profiling or analytics.</p>
    <h2>The simple plain text app.</h2>
    <p>Klipped has been lovingly crafted to be the app you always needed by your side.</p>
    <p>It's a virtual post-it note. Store your ideas, or paste content from your clipboard. Delete the text when you're
      done. No clutter of files being saved, and no need to worry about saving your text - it will be there next time
      you open the app.</p>
    <hr style="border-width: 1px;"/>
    <p>Also available for iPad, iPhone and MacOS. See <a href="https://klipped.com">klipped.com</a> for more information.</p>
    <p>Built by <a href="https://waka.app">Waka apps</a>.</p>
  </div>
</ion-content>
