<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>The simple plain text app.</h1><br/>
    <h2>Klipped App is a minimalist plain text editor for iPad, iPhone and Mac.</h2><br/><br/>
    <p>Klipped has been lovingly crafted to be the app you always needed by your side.</p><br/>
    <p>It's a virtual post-it note. Store your ideas, or paste content from your clipboard. Delete the text when you're
      done. No clutter of files being saved, and no need to worry about saving your text - it will be there next time
      you open the app.</p>
    <p>Klipped.app is a browser-based scratchpad. All data is stored in local browser storage (local to your device).</p>
    <hr/>
    <p>Also available for iPad, iPhone and MacOS. See <a href="https://klipped.com">klipped.com</a> for more information.</p><br/>
    <p>Built by <a href="https://kawhe.com">Kawhe apps</a>.</p>
  </div>
</ion-content>
